:root {
    --primary-color: #E21F4D;
    --dimmed-color: #767676;
}

@font-face {
    font-family: "manrope";
    src: 
        url("assets/font/Manrope-VariableFont_wght.ttf") format("truetype");
}

.highlighted-text {
    color: var(--primary-color);
}
.text-700 {
    font-weight: 700;
}
.text-600 {
    font-weight: 600;
}
.text-500 {
    font-weight: 500;
}
.text-400 {
    font-weight: 400;
}
.dimmed-text {
    color: var(--dimmed-color);
}
.small-text {
    font-size: 10px;
    line-height: 13px;
}
.big-text {
    font-size: 55px;
    line-height: 70px;
}
.text-800 {
    font-weight: 800;
}
.btn-primary {
    box-shadow: 0px 0px 27px 4px #FFFFFF75 inset;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    border-radius: 1000px;
    width: fit-content;
    padding: 28px 52px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover {
    background-color: #d40f3d;
}
.btn-secondary {
    box-shadow: 0px 15.26px 58.85px 0px #00000014;
    background-color: #fff;
    padding: 12px 29px;
    border-radius: 350px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
}
.btn-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.special-btn {
    border: 1px solid #E21F4D;
    color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 1000px;
    width: fit-content;
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
}
.special-btn .arrow-right {
    width: 15px;
    height: 15px;
    background-image: url('assets/img/angle-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.special-btn:hover {
    box-shadow: 0px 5px 7px 4px #11275833 inset;
}
.huge-text {
    font-size: 165px;
    line-height: 70px;
}
.medium-text {
    font-size: 35px;
    line-height: 70px;
}
.circles {
    background-image: url('assets/img/circles.png');
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 0;
    left: -45%;
    background-repeat: no-repeat;
    width: 1131px;
    height: 1131px;
    bottom: -216px;
}

.signature {
    position: absolute;
    width: 130px;
    height: 85px;
    background-image: url('assets/img/signature.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.block {
    padding: 50px 0;
}

.block-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-title {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

body {
    width: 1500px;
    margin: 0 auto;
    font-family: "manrope";
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    overflow-x: hidden;
    color: #3F3F3F;
}

header {
    display: flex;
    padding: 15px calc((1500px - 1160px) / 2);
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-logo {
    margin-right: 23px;
    background-image: url('assets/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 188px;
    height: 54px;
}

.vertical-line {
    height: 26px;
    border: 1px solid #3F3F3F33;
}

.header-text {
    padding: 12px 0 12px 23px;
    min-width: 200px;
    margin-right: 159px;
}

.header-map {
    padding: 6px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 14px 54px 0px #00000014;
}

.header-map .map {
    border-radius: 100%;
    background-image: url('assets/img/header-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 50px;
    min-height: 50px;
}

.header-addres {
    margin: 0 164px 0 22px;
    min-width: 116px;
}

.header-contacts {
    display: flex;
    gap: 8px;
    padding: 10px 13px;
    background-color: white;
    border-radius: 673px;
    align-items: center;
    min-width: 233px;
    box-shadow: 0px 14px 54px 0px #00000014;
    cursor: pointer;
}

.header-contacts:hover {
    background-color: #fcfafa14;
}

.phone-ico {
    border-radius: 100%;
    background-color: var(--primary-color);
    width: 31px;
    height: 31px;
    background-image: url('assets/img/header-phone-ico.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.header-phone {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 1px;
}

.contacts-and-burger {
    display: flex;
    gap: 20px;
    align-items: center;
}

.burger {
    display: none;
}

.block-promo {
    background-image: url(assets/img/bg.jpg);
    margin: -92px -300px 0;
    padding: 152px 300px 60px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 203px 76px 80px 140px;
    gap: 40px 90px;
    overflow-y: hidden;
}

.promo-with-image {
    grid-row: 1/5;
    margin: -55px -136px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.promo-title {
    max-width: 656px;
}

.promo-text {
    /* margin-top: 120px; */
    font-size: 18px;
    line-height: 27px;
    max-width: 425px;
}

.promo-service {
   position: relative;
   max-width: 427px;
   padding: 22px 53px 22px 28px;
   background-color: #fff;
   box-shadow: 0px 11.96px 46.15px 0px #00000014;
   border-radius: 10px;
   display: grid;
   grid-template-columns: 55px auto;
   gap: 0 26px;
   align-content: center;
   align-items: center;
}
.promo-service .nav-btn {
    right: -27px;
}
.promo-service .nav-btn:hover {
    background-color: #fcfafa;
}

.promo-service .service-title {
    font-size: 18px;
    line-height: 25px;
}

.promo-service .service-desc {
    margin: 5px 0 10px;
}
 
.promo-service .read-more, .btn-link {
    text-decoration: underline dotted #3F3F3F 1px;
    text-underline-offset: 6px;
    color: #3F3F3F;
}

.promo-service .read-more:hover, .btn-link:hover {
    text-decoration: none;
}
    
.promo-text, .promo-btn, .promo-service {
    margin-left: 3rem;
}

.img-with-rating {
    width: fit-content;
    position: relative;
    z-index: 1;
}
  

.top {
    position: absolute;
    top: 27%;
    left: 2%;
    z-index: 0;
}

.rating {
    display: flex;
    position: absolute;
    top: 29%;
    left: 36%;
    z-index: 1;
    flex-direction: column;
}

.stars {
    display: flex;
    gap: 8px;
}

.star {
    width: 15px;
    height: 15px;
    background-image: url('assets/img/star.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.rating-text {
    display: inline-block;
    font-size: 19px;
    line-height: 26px;
    max-width: 102px;
    text-align: left;
}
.block-promo .Babayan-photo {
    position: relative;
    z-index: 1;
}

.promo-title, .promo-text, .block-promo .btn-primary, .promo-service {
    position: relative;
    z-index: 1;
}

.teeth-ico {
    width: 55px;
    height: 55px;
    background-image: url('assets/img/zub.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.name-tag {
    position: absolute;
    bottom: 20%;
    z-index: 2;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 18px 14px;
    border-radius: 5px;
    box-shadow: 0px 10px 24px 0px #0000001A;
    background-color: #fff;
    display: flex;
    gap: 11px;
}

.slogan {
    position: absolute;
    bottom: 4%;
    z-index: 1;
    max-width: 228px;
    text-align: left;
    left: 41%;
}

.slogan .part-1, .slogan .part-2 {
    font-size: 18px;
    line-height: 28px;
    padding: 7px 10px 7px 23px;
    background-color: #fff;
    border-radius: 5px;
}

.slogan .part-1 {
    padding-right: 18px;
}

.slogan .part-2 {
    box-shadow: 0px 19px 24px 0px #00000026;
}

.slogan .dimmed-text {
    padding: 4px 15px 13px 24px;
    box-shadow: 0px 37px 24px 0px #00000026;
    background-color: #fff;
    border-radius: 5px;
    width: 178px;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
}

.person-ico {
    box-shadow: 0px 13px 24px 0px #0000001A;
    background-color: #fff;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    background-image: url('assets/img/user.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.block-promo .signature {
    bottom: 0;
    right: 115px;
    z-index: 1;
    transform: rotate(5deg);
}

.block-1 .block-title {
    max-width: 920px;
    margin-bottom: 50px;
}

.block-1 .block-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    position: relative;
}

.service-teaser {
    box-shadow: 0px 14px 66px 0px #0000001A;
    border-radius: 10px;
}

.service-teaser .service-body {
    padding: 34px 31px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-teaser .service-btns {
    display: flex;
    gap: 17px;
    align-items: center;
}

.service-btns .btn-primary {
    padding: 10px 33px;
    font-size: 14px;
    line-height: 19px;
}

.service-teaser .service-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}

.service-teaser .service-img {
    box-shadow: 15px 0px 66px 0px #00000014;
    background: linear-gradient(0deg, #E21F4D, #E21F4D), radial-gradient(81.66% 73% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.service-teaser .service-img img {
    background-image: url('assets/img/pattern.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-btn {
    position: absolute;
    width: 55px;
    height: 55px;
    box-shadow: 0px 15.26px 58.85px 0px #00000014;
    border-radius: 100%;
    background-color: #fff;
    background-image: url('assets/img/angle-right.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: #fcfafa;
}

.nav-btn.btn-prev {
    transform: rotate(180deg);
}

.block-1 .nav-btn.btn-prev {
    left: -27px;
    top: 42%;
}

.block-1 .nav-btn.btn-next {
    left: 76%;
    top: 42%;
}

.block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
    position: relative;
}

.block-2 .block-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    grid-row: 1;
}

.block-2 .block-header {
    grid-column: 2;
    grid-row: 1;
}

.block-2 .block-header .btn-secondary, .block-2 .block-header .block-title {
    margin-left: -90px;
    z-index: 2;
    position: relative;
}

.block-2 .block-header .block-title, .block-2 .block-header .block-header-text {
    max-width: 458px;
}

.block-2 .btn-primary {
    padding: 23px 41px;
    font-size: 16px;
    line-height: 21px;
    z-index: 1;
}

.block-2 .block-content-left {
    margin-right: -130px;
    display: flex;
    flex-direction: column;
    padding-top: 34px;
}

.block-2 .doctor-name {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 58px;
    position: relative;
}

.block-2 .doctor-position {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
}

.red-star {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url('assets/img/red-star.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: -5px;
    left: -13px;
}

.red-plus {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url('assets/img/plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: -8px;
    left: -15px;
}

.block-2 .signature {
    bottom: 5%;
    right: 20%;
    width: 107px;
    height: 69px;
}

.highlighted-block {
    background-color: #F5F5F5;
    border-radius: 50px;
    padding: 50px 150px;
}

.block-3 {
    position: relative;
    z-index: 1;
}

.block-3 .block-header {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 327px 428px;
    grid-template-rows: 46px 80px;
    justify-content: space-between;
}

.block-3 .block-title {
    grid-row: 2;
}

.block-3 .block-header-text {
    grid-row: 1/3;
    align-self: center;
    font-size: 18px;
    line-height: 27px;
    position: relative;
}

.block-3 .block-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}

.block-3 .block-footer {
    display: flex;
    justify-content: center;
}

.block-3 .block-footer .btn-primary {
    padding: 15px 40px;
    font-size: 16px;
    line-height: 21px;
}

.doctor-teaser {
    padding: 35px 31px;
    background-color: #fff;
    border-radius: 10px;
}

.doctor-teaser .teaser-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.doctor-teaser .doctor-name {
    font-size: 18px;
    line-height: 26px;
}

.doctor-teaser .doctor-teaser-img {
    display: flex;
    justify-content: center;
}

.block-3 .nav-btn.btn-prev, .block-3 .nav-btn.btn-next {
    display: none;
}

.block-4 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block-4 .block-header {
    grid-column: 2;
    z-index: 1;
}

.block-4 .block-header .block-title, .block-4 .block-header .btn-secondary {
    margin-left: -100px;
}

.block-4 .block-content {
    position: relative;
    min-height: 400px;
    margin-left: 20px;
    grid-row: 1;
}

.block-4 .circles {
    display: flex;
    justify-content: center;
    padding-top: 400px;
    background-size: auto;
}

.block-4 img {
    max-height: 550px;
}

.block-4 .block-header .advg-teasers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advg-teaser {
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 15.26px 58.85px 0px #00000014;
    border-radius: 11px;
    max-width: 400px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
}

.advg-teaser .advg-ico {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #F5F5F599; 
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;   
}

.advg-1 .advg-ico {
    background-image: url('assets/img/advg1.svg');
}
.advg-2 .advg-ico {
    background-image: url('assets/img/advg2.svg');
}
.advg-3 .advg-ico {
    background-image: url('assets/img/advg3.svg');
}
.advg-4 .advg-ico {
    background-image: url('assets/img/advg4.svg');
}

.block-5 {
    position: relative;
    z-index: 1;
}

.block-5 .block-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 38px 0;
    margin-top: -127px;
}

.block-5 .videos .video {
    display: none;
    cursor: pointer;
    position: relative;
}

.run-btn {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 30%;
    left: 38%;
    background-image: url('assets/img/run-btn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-5 .videos .video:nth-child(1) {
    display: block;
}

.block-5 .block-header {
    margin-bottom: 50px;
}

.block-5 .header-btns {
    display: flex;
    gap: 20px;
}

.block-5 .btn-link {
    text-decoration: none;
}

.block-5 .btn-link:hover {
    color: var(--primary-color);
}

.block-5 .videos-with-reviews {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.block-5 .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: -50px;
}

.review-teaser {
    width: 211px;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 15.26px 58.85px 0px #00000014;
    display: grid;
    grid-template-columns: 62px 1fr;
    gap: 15px;
    cursor: pointer;
    align-items: center;
}

.review-teaser:hover {
    background-color: #F5F5F599; 
}

.review-teaser .review-ico-wrapper {
    width: 62px;
    height: 62px;
    background-color: #fff;
    box-shadow: 0px 14px 54px 0px #00000014;
    padding: 6px;
    border-radius: 100%;
}

.review-teaser .review-ico {
    width: 50px;
    height: 50px;
    background-image: url('assets/img/review-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reviews .nav-btn {
    position: unset;
    width: 43px;
    height: 43px;
}

.nav-btn.btn-up {
    transform: rotate(-90deg);
}

.nav-btn.btn-down {
    transform: rotate(90deg);
}

.active-teaser {
    border: 1px solid var(--primary-color);
}

.block-5 .feedback-links {
    grid-column: 2;
    margin-left: -600px;
}

.active-link {
    color: var(--primary-color);
}

.block-5 .feedback-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-5 .feedback-links .links {
    display: flex;
    gap: 20px;
}

.block-5 .feedback-links .links .link {
    width: 50px;
    height: 50px;
    box-shadow: 0px 13px 24px 0px #0000001A;
    border-radius: 100%;
    background-color: #fff;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.block-5 .feedback-links .links .link:hover {
    background-color: #F5F5F599;
}


.block-5 .feedback-links .links .link.link1 {
    background-image: url('assets/img/cn1.svg');
}
.block-5 .feedback-links .links .link.link2 {
    background-image: url('assets/img/cn2.svg');
}
.block-5 .feedback-links .links .link.link3 {
    background-image: url('assets/img/cn3.svg');
}
.block-5 .feedback-links .links .link.link4 {
    background-image: url('assets/img/cn4.svg');
}

.block-6 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px 90px;
}

.block-6 .block-header, .block-6 .block-footer {
    grid-column: 2;
    z-index: 1;
}

.block-6 .block-title, .block-6 .btn-secondary {
    margin-left: -100px;
}

.block-6 .block-content {
    grid-column: 1;
    position: relative;
    min-height: 400px;
    margin-left: 130px;
    grid-row: 1/3;
}

.block-6 .certificate-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 600px;
    background-size: auto;
    background-size: contain;
    background-position: center;
    background-position-y: center;
    background-position-y: 309px;
}

.block-6 .block-title {
    max-width: 363px;
}

.block-6 .block-header-text {
    max-width: 447px;
}

.block-6 .certificate-wrapper img {
    max-width: 447px;
    max-height: 476px;
}

.block-6 .block-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.block-6 .company-data {
    display: flex;
    gap: 50px;
}

.block-6 .tax-registarion {
    max-width: 227px;
    position: relative;
}

.block-6 .adress {
    max-width: 174px;
    position: relative;
}

@media screen and (max-width: 1680px) {
    body {
        width: 1280px;   
    };
    header {
        padding: 15px calc((1280px - 1160px) / 2);
    }
    .block-promo .Babayan-photo {
        width: 500px;
        height: 750px;
    }
    .block-1 .nav-btn.btn-next {
        left: 89%;
        top: 42%;
    }
    .block-3 .doctor-teaser .doctor-teaser-img img {
        width: 230px;
    }
    .block-3 .doctor-teaser .doctor-name {
        font-size: 15px;
    }

    .block-5 img {
        max-width: 725px;
    }
    .block-5 .videos-with-reviews {
        gap: 40px;
    }
    .block-5 .feedback-links {
        margin-left: -470px;
    }
    .block-6 .block-content {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .circles {
        width: 900px;
        height: 900px;
        bottom: -187px;
    }
    body {
        width: auto;
        margin: 0 75px;
    }
    .big-text {
        font-size: 45px;
        line-height: 60px;
    }
    .promo-with-image {
        margin: -60px -105px 0;
    }
    .block-promo .Babayan-photo {
        width: 450px;
        height: 666px;
    }
    .header-map, .header-addres {
        display: none;
    }
    .block-promo {
        margin: -92px -300px 0;
        padding: 160px 300px 60px;
        background-size: cover;
    }
    .rating {
        left: 39%;
    }
    .name-tag {
        bottom: 24%;
    }
    .slogan {
        bottom: 8%;
        left: 40%;
    }
    .block-promo .signature {
        display: none;
    }
    .block-2 .btn-primary {
        padding: 10px 23px;
        font-size: 14px;
        line-height: 19px;
    }
    .block-3 .doctor-teaser .doctor-teaser-img img {
        width: 150px;
    }
    .block-3 .doctor-teaser .doctor-name {
        font-size: 12px;
        line-height: 17px;
    }
    .doctor-teaser {
        padding: 20px 15px;
    }
    .doctor-desc, .doctor-position {
        font-size: 10px;
        line-height: 13px;
    }
    .doctor-teaser .special-btn {
        width: 100%;
    }
    .special-btn {
        padding: 10px 50px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 700;
        justify-content: center;
    }
    .special-btn .arrow-right {
        width: 10px;
        height: 10px;
    }
    .highlighted-block {
        padding: 50px 100px;
    } 
    .block-3 .block-header-text {
        font-size: 13px;
        line-height: 19px;
    }
    .block-3 .block-header {
        grid-template-columns: 1fr 1fr;
    }
    .block-4 .circles {
        padding-top: 280px;
        padding-right: 75px;
    }
    .block-4 .block-content {
        max-height: 565px;
    }
    .block-5 img {
        max-width: 600px;
    }
    .block-5 .reviews {
        display: none;
    }
    .block-5 .feedback-links {
        margin-left: -100px;
    }
    .block-5 .feedback-links .links {
        gap: 10px;
    }
    .block-5 .feedback-links .header {
        font-size: 12px;
        line-height: 17px;
    }
    .block-5 .videos-with-reviews {
        grid-template-columns: 1fr;
        gap: unset;
    }
    .block-5 .feedback-links .links .link {
        width: 40px;
        height: 40px;
    }
    .block-6 .certificate-wrapper {
        padding-top: 360px;
        background-position-y: center;
    }
    .block-6 .block-content {
        margin-left: 0;
    }
}

@media screen and (max-width: 980px) {
    .block {
        padding: 25px 0;
    }
    .circles {
        width: 500px;
        height: 500px;
        bottom: -45px;
        left: -150px;
    }
    .big-text {
        font-size: 24px;
        line-height: 30px;
    }
    .btn-primary {
        padding: 20px 86px;
        font-size: 12px;
        line-height: 17px;
        border-radius: 682px;
    }
    .huge-text {
        font-size: 63px;
        line-height: 37px;
    }
    .medium-text {
        font-size: 13px;
        line-height: 27px;
    }
    body {
        width: auto;
        margin: 0 25px;
        background-color: #FDFDFD;
        font-size: 10px;
        line-height: 14px;
    };
    header {
        padding: 15px 0;
        justify-content: space-between;
    }
    .header-text, .header-addres, .header-map, .vertical-line, .header-contacts-text {
        display: none;
    }
    .header-contacts {
        border-radius: 100%;
        padding: 9px;
        min-width: unset;
    }
    .header-logo {
        width: 89px;
        height: 25px;
    }
    .burger {
        display: block;
        background-image: url('assets/img/burger.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 19px;
        cursor: pointer;
    }
    .header-contacts {
        width: 30px;
        height: 30px;
    }
    .phone-ico {
        width: 11px;
        height: 11px;
        background-color: transparent;
        background-image: url('assets/img/phone-ico-mobile.svg');
        background-size: contain;
    }
    .promo-text {
        font-size: 12px;
        line-height: 18px;
        grid-row: 2;
        margin: 16px 0 28px;
    }
    .promo-service {
        grid-row: 5;
        margin-top: 18px;
        padding: 32px 20px 10px;
        max-width: 217px;
        grid-template-columns: 1fr;
        position: relative;
        z-index: 1;
    }
    .promo-service .service-title {
        font-size: 12px;
        line-height: 17px;
    }
    .promo-service .service-desc {
        font-size: 10px;
        line-height: 14px;
    }
    .block-promo .promo-btn {
        grid-row: 4;
    }
    .promo-title {
        grid-row: 1;
    }
    .block-promo {
        margin: 0;
        padding: 0 0 25px;
        grid-template-columns: 1fr;
        grid-template-rows: 87px 70px 225px 65px 152px;
        gap: 0;
        background-image: unset;
        overflow: hidden;
    }
    .promo-with-image {
        margin: 28px 0 0;
        grid-row: 3;
    }
    .block-promo .Babayan-photo {
        width: 186px;
        height: 255px;
    }
    .rating-text {
        font-size: 10px;
        line-height: 14px;
        max-width: 54px;
    }
    .top {
        top: 26%;
        left: -11px;
    }
    .rating {
        top: 32%;
        left: 29%;
    }
    .promo-text, .promo-btn, .promo-service {
        margin-left: 0;
    }
    .promo-service, .block-promo .promo-btn {
        align-self: center;
        justify-self: center;
    }
    .stars {
        gap: 3px;
    }
    .star {
        width: 6px;
        height: 6px;
    }
    .teeth-ico-wrapper {
        position: absolute;
        top: -21px;
        left: 39%;
        border-radius: 100%;
        z-index: 2;
        background-color: #FDFDFD;
        padding: 8px;
    }
    .teeth-ico {
        width: 27px;
        height: 27px;
    }
    .name-tag {
        padding: 6px 11px 7px;
        font-size: 12px;
        line-height: 16px;
        bottom: 13%;
    }
    .person-ico {
        width: 17px;
        height: 17px;
    }
    .slogan {
        display: none;
    }
    .block-title {
        font-size: 16px;
        line-height: 22px;
    }
    .block-1 .block-title {
        margin-bottom: 20px;
    }
    .block-header {
        gap: 10px;
    }
    .block-1 .block-content {
        grid-template-columns: repeat(4, 180px);
    }
    .service-teaser .service-img {
        max-height: 96px;
    }
    .service-teaser .service-img img {
        width: 180px;
        height: 124px;
    }
    .service-teaser .service-title {
        font-size: 12px;
        line-height: 17px;
    }
    .service-teaser .service-body {
        padding: 10px 13px;
        gap: 10px;
    }
    .service-teaser .service-btns {
        gap: 10px;
        flex-wrap: wrap;
    }
    .service-btns .btn-primary {
        padding: 8px 46px;
        font-size: 10px;
        line-height: 13px;
        width: 100%;
    }
    .block-1 .nav-btn.btn-prev, .block-3 .nav-btn.btn-prev {
        top: unset;
        left: 0;
        bottom: -76px;
    }
    .block-1 .nav-btn.btn-next, .block-3 .nav-btn.btn-next {
        top: unset;
        left: 85px;
        bottom: -76px;
    }
    .block-2 {
        display: block;
        padding-top: 100px;
    }
    .block-2 .block-content {
        position: relative;
    }
    .block-2 .block-header .btn-secondary, .block-2 .block-header .block-title {
        margin-left: 0;
    }
    .block-2 .doctor-name {
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 10px;
    }
    .block-2 .doctor-position {
        font-size: 10px;
        line-height: 14px;
    }
    .block-2 .btn-primary {
        padding: 23px 41px;
        font-size: 16px;
        line-height: 21px;
        position: absolute;
        width: 100%;
        bottom: -50px;
    }
    .block-2 .block-content-right img {
        width: 252px;
        height: 239px;
    }
    .block-2 .block-header .block-header-text {
        max-width: 264px;
    }
    .block-2 .block-header .block-header-text.part-1 {
        font-weight: 400;
    }
    .block-2 .block-header .block-header-text.part-2 {
        display: none;
    }
    .block-2 .signature {
        bottom: 10%;
        right: 45%;
        width: 65px;
        height: 42px;
    }
    .red-star {
        display: none;
    }
    .doctor-teaser {
        box-shadow: 0px 0px 51.18px 0px #00000014;
        padding: 20px 14px;
    }
    .highlighted-block {
        background-color: transparent;
        padding: 100px 0 50px;
    }
    .block-3 .block-footer {
        display: none;
    }
    .block-3 .block-content {
        grid-template-columns: repeat(3, 202px);
        gap: 20px;
        position: relative;
    }
    .block-3 .block-header {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        margin-bottom: 20px;
    }
    .block-3 .block-header-text {
        display: none;
    }
    .doctor-teaser .teaser-body {
        gap: 10px;
    }
    .block-3 .nav-btn.btn-prev, .block-3 .nav-btn.btn-next {
        display: block;
    }
    .block-4 {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .block-4 .block-content {
        display: none;
    }
    .block-4 .block-header {
        grid-column: unset;
        gap: 20px;
    }
    .block-4 .block-header .block-title, .block-4 .block-header .btn-secondary {
        margin-left: 0;
    }
    .block-4 .btn-primary {
        display: none;
    }
    .block-4 .block-header .advg-teasers {
        align-items: center;
        gap: 25px;
    }
    .advg-teaser {
        grid-template-columns: 1fr;
        position: relative;
        padding: 25px 20px 15px 20px;
    }
    .advg-teaser .advg-ico {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -13px;
        left: 45%;
        background-size: contain;
    }
    .block-5 {
        padding: 50px 0;
    }
    .block-5 .block-content {
        grid-template-columns: 1fr;
        margin-top: 0;
    }
    .block-5 .feedback-links {
        grid-column: unset;
    }
    .block-5 .videos-with-reviews {
        grid-column: unset;
    }
    .block-5 .feedback-links {
        margin-left: 0;
        grid-row: 2;
        align-items: center;
    }
    .block-5 img {
        max-width: 100%;
    }
    .block-5 .feedback-links .links .link {
        width: 58px;
        height: 58px;
    }
    .block-5 .feedback-links .links {
        gap: 23px;
    }
    .run-btn {
        width: 110px;
        height: 110px;
        top: 25%;
        left: 32%;
    }
    .block-5 .block-header {
        margin-bottom: 20px;
    }
    .block-5 .btn-link {
        padding: 7px 15px;
        font-size: 7px;
        line-height: 9px;
        box-shadow: 0px 5.75px 22.19px 0px #00000014;
        border: 0.86px solid #0000001A;
        border-radius: 132px;
        background-color: transparent;
    }
    .block-5 .btn-link:hover {
        border-color: var(--primary-color);
    }
    .block-5 .btn-link:first-child {
        display: none;
    }
    .block-5 .header-btns {
        gap: 10px;
    }
    .block-5 .active-link {
        border: none;
    }
    .block-5 .active-link:hover {
        border: 1px solid var(--primary-color);
    }
    .block-5 .videos .video {
        display: block;
    }
    .videos {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .block-6 {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .block-6 .block-header, .block-6 .block-footer {
        grid-column: unset;
    }
    .block-6 .block-content {
        grid-column: unset;
        grid-row: unset;
        min-height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block-6 .certificate-wrapper img {
        max-width: 210px;
        max-height: 224px;
    }
    .block-6 .certificate-wrapper {
        background-position: inherit;
        align-items: center;
        background-position-y: inherit;
        padding-top: 0;
        height: 220px;
        width: 300px;
    }
    .block-6 .circles {
        bottom: 0;
        left: 0;
    }
    .block-6 .block-title, .block-6 .btn-secondary {
        margin-left: 0;
    }
}

