:root {
    --primary-color: #E21F4D;
    --dimmed-color: #767676;
}

@font-face {
    font-family: "manrope";
    src: 
        url("assets/font/Manrope-VariableFont_wght.ttf") format("truetype");
}

.highlighted-text {
    color: var(--primary-color);
}
.text-700 {
    font-weight: 700;
}
.text-600 {
    font-weight: 600;
}
.text-500 {
    font-weight: 500;
}
.dimmed-text {
    color: var(--dimmed-color);
}
.small-text {
    font-size: 10px;
    line-height: 13px;
}
.big-text {
    font-size: 55px;
    line-height: 70px;
}
.text-800 {
    font-weight: 800;
}
.btn-primary {
    box-shadow: 0px 0px 27px 4px #FFFFFF75 inset;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    border-radius: 1000px;
    width: fit-content;
    padding: 28px 52px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover {
    background-color: #d40f3d;
}
.btn-secondary {
    box-shadow: 0px 15.26px 58.85px 0px #00000014;
    background-color: #fff;
    padding: 12px 29px;
    border-radius: 350px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
}
.btn-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.huge-text {
    font-size: 165px;
    line-height: 70px;
}
.medium-text {
    font-size: 35px;
    line-height: 70px;
}
.circles {
    background-image: url('assets/img/circles.png');
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 0;
    left: -45%;
    background-repeat: no-repeat;
    width: 1131px;
    height: 1131px;
    bottom: -216px;
}

.block {
    padding: 50px 0;
}

.block-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-title {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

body {
    width: 1500px;
    margin: 0 auto;
    font-family: "manrope";
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    overflow-x: hidden;
    color: #3F3F3F;
}

header {
    display: flex;
    padding: 15px calc((1500px - 1160px) / 2);
    align-items: center;
}

.header-logo {
    margin-right: 23px;
    background-image: url('assets/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 188px;
    height: 54px;
}

.vertical-line {
    height: 26px;
    border: 1px solid #3F3F3F33;
}

.header-text {
    padding: 12px 0 12px 23px;
    min-width: 200px;
    margin-right: 159px;
}

.header-map {
    padding: 6px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 14px 54px 0px #00000014;
}

.header-map .map {
    border-radius: 100%;
    background-image: url('assets/img/header-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 50px;
    min-height: 50px;
}

.header-addres {
    margin: 0 164px 0 22px;
    min-width: 116px;
}

.header-contacts {
    display: flex;
    gap: 8px;
    padding: 10px 13px;
    background-color: white;
    border-radius: 673px;
    align-items: center;
    min-width: 233px;
    box-shadow: 0px 14px 54px 0px #00000014;
    cursor: pointer;
}

.header-contacts:hover {
    background-color: #fcfafa14;
}

.phone-ico {
    border-radius: 100%;
    background-color: var(--primary-color);
    width: 31px;
    height: 31px;
    background-image: url('assets/img/header-phone-ico.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.header-phone {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 1px;
}

.contacts-and-burger {
    display: flex;
    gap: 20px;
    align-items: center;
}

.burger {
    display: none;
}

.block-promo {
    background-image: url(assets/img/bg.jpg);
    margin: -92px -300px 0;
    padding: 152px 300px 60px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 203px 76px 80px 140px;
    gap: 40px 90px;
    overflow-y: hidden;
}

.promo-with-image {
    grid-row: 1/5;
    margin: -55px -136px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.promo-title {
    max-width: 656px;
}

.promo-text {
    /* margin-top: 120px; */
    font-size: 18px;
    line-height: 27px;
    max-width: 425px;
}

.promo-service {
   position: relative;
   max-width: 427px;
   padding: 22px 53px 22px 28px;
   background-color: #fff;
   box-shadow: 0px 11.96px 46.15px 0px #00000014;
   border-radius: 10px;
   display: grid;
   grid-template-columns: 55px auto;
   gap: 0 26px;
   align-content: center;
   align-items: center;
}
.promo-service .nav-btn {
    right: -27px;
}
.promo-service .nav-btn:hover {
    background-color: #fcfafa;
}

.promo-service .service-title {
    font-size: 18px;
    line-height: 25px;
}

.promo-service .service-desc {
    margin: 5px 0 10px;
}
 
.promo-service .read-more, .btn-link {
    text-decoration: underline dotted #3F3F3F 1px;
    text-underline-offset: 6px;
    color: #3F3F3F;
}

.promo-service .read-more:hover, .btn-link:hover {
    text-decoration: none;
}
    
.promo-text, .promo-btn, .promo-service {
    margin-left: 3rem;
}

.img-with-rating {
    width: fit-content;
    position: relative;
    z-index: 1;
}
  

.top {
    position: absolute;
    top: 27%;
    left: 2%;
    z-index: 0;
}

.rating {
    display: flex;
    position: absolute;
    top: 29%;
    left: 36%;
    z-index: 1;
    flex-direction: column;
}

.stars {
    display: flex;
    gap: 8px;
}

.star {
    width: 15px;
    height: 15px;
    background-image: url('assets/img/star.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.rating-text {
    display: inline-block;
    font-size: 19px;
    line-height: 26px;
    max-width: 102px;
    text-align: left;
}
.block-promo .Babayan-photo {
    position: relative;
    z-index: 1;
}

.promo-title, .promo-text, .block-promo .btn-primary, .promo-service {
    position: relative;
    z-index: 1;
}

.teeth-ico {
    width: 55px;
    height: 55px;
    background-image: url('assets/img/zub.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.name-tag {
    position: absolute;
    bottom: 20%;
    z-index: 2;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 18px 14px;
    border-radius: 5px;
    box-shadow: 0px 10px 24px 0px #0000001A;
    background-color: #fff;
    display: flex;
    gap: 11px;
}

.slogan {
    position: absolute;
    bottom: 4%;
    z-index: 1;
    max-width: 228px;
    text-align: left;
    left: 41%;
}

.slogan .part-1, .slogan .part-2 {
    font-size: 18px;
    line-height: 28px;
    padding: 7px 10px 7px 23px;
    background-color: #fff;
    border-radius: 5px;
}

.slogan .part-1 {
    padding-right: 18px;
}

.slogan .part-2 {
    box-shadow: 0px 19px 24px 0px #00000026;
}

.slogan .dimmed-text {
    padding: 4px 15px 13px 24px;
    box-shadow: 0px 37px 24px 0px #00000026;
    background-color: #fff;
    border-radius: 5px;
    width: 178px;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
}

.person-ico {
    box-shadow: 0px 13px 24px 0px #0000001A;
    background-color: #fff;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    background-image: url('assets/img/user.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.block-1 .block-title {
    max-width: 920px;
    margin-bottom: 50px;
}

.block-1 .block-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    position: relative;
}

.service-teaser {
    box-shadow: 0px 14px 66px 0px #0000001A;
    border-radius: 10px;
}

.service-teaser .service-body {
    padding: 34px 31px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-teaser .service-btns {
    display: flex;
    gap: 17px;
    align-items: center;
}

.service-btns .btn-primary {
    padding: 10px 33px;
    font-size: 14px;
    line-height: 19px;
}

.service-teaser .service-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}

.service-teaser .service-img {
    box-shadow: 15px 0px 66px 0px #00000014;
    background: linear-gradient(0deg, #E21F4D, #E21F4D), radial-gradient(81.66% 73% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.service-teaser .service-img img {
    background-image: url('assets/img/pattern.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-btn {
    position: absolute;
    width: 55px;
    height: 55px;
    box-shadow: 0px 15.26px 58.85px 0px #00000014;
    border-radius: 100%;
    background-color: #fff;
    background-image: url('assets/img/angle-right.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: #fcfafa;
}

.nav-btn.btn-prev {
    transform: rotate(180deg);
}

.block-1 .nav-btn.btn-prev {
    left: -27px;
    top: 42%;
}

.block-1 .nav-btn.btn-next {
    left: 76%;
    top: 42%;
}

.block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
}

.block-2 .block-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    grid-row: 1;
}

.block-2 .block-header {
    grid-column: 2;
    grid-row: 1;
}

.block-2 .block-header .btn-secondary, .block-2 .block-header .block-title {
    margin-left: -90px;
}

.block-2 .block-header .block-title, .block-2 .block-header .block-header-text {
    max-width: 458px;
}

.block-2 .btn-primary {
    padding: 23px 41px;
    font-size: 16px;
    line-height: 21px;
    z-index: 1;
}

.block-2 .block-content-left {
    margin-right: -130px;
    display: flex;
    flex-direction: column;
    padding-top: 34px;
}

.block-2 .doctor-name {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 58px;
}

.block-2 .doctor-position {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1680px) {
    body {
        width: 1280px;   
    };
    header {
        padding: 15px calc((1280px - 1160px) / 2);
    }
    .block-promo .Babayan-photo {
        width: 500px;
        height: 750px;
    }
    .block-1 .nav-btn.btn-next {
        left: 89%;
        top: 42%;
    }
}

@media screen and (max-width: 1300px) {
    .circles {
        width: 900px;
        height: 900px;
        bottom: -187px;
    }
    body {
        width: auto;
        margin: 0 75px;
    }
    .big-text {
        font-size: 45px;
        line-height: 60px;
    }
    .promo-with-image {
        margin: -60px -105px 0;
    }
    .block-promo .Babayan-photo {
        width: 450px;
        height: 666px;
    }
    .header-map, .header-addres {
        display: none;
    }
    .block-promo {
        margin: -92px -300px 0;
        padding: 160px 300px 60px;
        background-size: cover;
    }
    .rating {
        left: 39%;
    }
    .name-tag {
        bottom: 24%;
    }
    .slogan {
        bottom: 8%;
        left: 40%;
    }
    .block-2 .btn-primary {
        padding: 10px 23px;
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 980px) {
    .circles {
        width: 500px;
        height: 500px;
        bottom: -45px;
        left: -150px;
    }
    .big-text {
        font-size: 24px;
        line-height: 30px;
    }
    .btn-primary {
        padding: 20px 86px;
        font-size: 12px;
        line-height: 17px;
        border-radius: 682px;
    }
    .huge-text {
        font-size: 63px;
        line-height: 37px;
    }
    .medium-text {
        font-size: 13px;
        line-height: 27px;
    }
    body {
        width: auto;
        margin: 0 25px;
        background-color: #FDFDFD;
        font-size: 10px;
        line-height: 14px;
    };
    header {
        padding: 15px 0;
        justify-content: space-between;
    }
    .header-text, .header-addres, .header-map, .vertical-line, .header-contacts-text {
        display: none;
    }
    .header-contacts {
        border-radius: 100%;
        padding: 9px;
        min-width: unset;
    }
    .header-logo {
        width: 89px;
        height: 25px;
    }
    .burger {
        display: block;
        background-image: url('assets/img/burger.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 19px;
        cursor: pointer;
    }
    .header-contacts {
        width: 30px;
        height: 30px;
    }
    .phone-ico {
        width: 11px;
        height: 11px;
        background-color: transparent;
        background-image: url('assets/img/phone-ico-mobile.svg');
        background-size: contain;
    }
    .promo-text {
        font-size: 12px;
        line-height: 18px;
        grid-row: 2;
        margin: 16px 0 28px;
    }
    .promo-service {
        grid-row: 5;
        margin-top: 18px;
        padding: 32px 20px 10px;
        max-width: 217px;
        grid-template-columns: 1fr;
        position: relative;
        z-index: 1;
    }
    .promo-service .service-title {
        font-size: 12px;
        line-height: 17px;
    }
    .promo-service .service-desc {
        font-size: 10px;
        line-height: 14px;
    }
    .block-promo .promo-btn {
        grid-row: 4;
    }
    .promo-title {
        grid-row: 1;
    }
    .block-promo {
        margin: 0;
        padding: 0 0 25px;
        grid-template-columns: 1fr;
        grid-template-rows: 87px 70px 225px 65px 152px;
        gap: 0;
        background-image: unset;
        overflow: hidden;
    }
    .promo-with-image {
        margin: 28px 0 0;
        grid-row: 3;
    }
    .block-promo .Babayan-photo {
        width: 186px;
        height: 255px;
    }
    .rating-text {
        font-size: 10px;
        line-height: 14px;
        max-width: 54px;
    }
    .top {
        top: 26%;
        left: -11px;
    }
    .rating {
        top: 32%;
        left: 29%;
    }
    .promo-text, .promo-btn, .promo-service {
        margin-left: 0;
    }
    .promo-service, .block-promo .promo-btn {
        align-self: center;
        justify-self: center;
    }
    .stars {
        gap: 3px;
    }
    .star {
        width: 6px;
        height: 6px;
    }
    .teeth-ico-wrapper {
        position: absolute;
        top: -21px;
        left: 39%;
        border-radius: 100%;
        z-index: 2;
        background-color: #FDFDFD;
        padding: 8px;
    }
    .teeth-ico {
        width: 27px;
        height: 27px;
    }
    .name-tag {
        padding: 6px 11px 7px;
        font-size: 12px;
        line-height: 16px;
        bottom: 13%;
    }
    .person-ico {
        width: 17px;
        height: 17px;
    }
    .slogan {
        display: none;
    }
    .block-title {
        font-size: 16px;
        line-height: 22px;
    }
    .block-1 .block-title {
        margin-bottom: 20px;
    }
    .block-header {
        gap: 10px;
    }
    .block-1 .block-content {
        grid-template-columns: repeat(4, 180px);
    }
    .service-teaser .service-img {
        max-height: 96px;
    }
    .service-teaser .service-img img {
        width: 180px;
        height: 124px;
    }
    .service-teaser .service-title {
        font-size: 12px;
        line-height: 17px;
    }
    .service-teaser .service-body {
        padding: 10px 13px;
        gap: 10px;
    }
    .service-teaser .service-btns {
        gap: 10px;
        flex-wrap: wrap;
    }
    .service-btns .btn-primary {
        padding: 8px 46px;
        font-size: 10px;
        line-height: 13px;
        width: 100%;
    }
    .block-1 .nav-btn.btn-prev {
        top: unset;
        left: 0;
        bottom: -76px;
    }
    .block-1 .nav-btn.btn-next {
        top: unset;
        left: 85px;
        bottom: -76px;
    }
    .block-2 {
        display: block;
        padding-top: 65px;
    }
    .block-2 .block-content {
        position: relative;
    }
    .block-2 .block-header .btn-secondary, .block-2 .block-header .block-title {
        margin-left: 0;
    }
    .block-2 .doctor-name {
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 10px;
    }
    .block-2 .doctor-position {
        font-size: 10px;
        line-height: 14px;
    }
    .block-2 .btn-primary {
        padding: 23px 41px;
        font-size: 16px;
        line-height: 21px;
        position: absolute;
        width: 100%;
        bottom: -50px;
    }
    .block-2 .block-content-right img {
        width: 252px;
        height: 239px;
    }
    .block-2 .block-header .block-header-text {
        max-width: 264px;
    }
    .block-2 .block-header .block-header-text.part-1 {
        font-weight: 400;
    }
    .block-2 .block-header .block-header-text.part-2 {
        display: none;
    }
}

